

<div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputFirstname">Type</label>
                     
    
                         {{ form_widget(form.type) }}
    
                        
                    </div>
                    <div class="col-sm-6">
                        <label for="inputLastname">Leçon</label>
                           {{ form_widget(form.lesson) }}
    
                    </div>
</div>

<div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputFirstname">Article</label>
                     
    
                         {{ form_widget(form.article) }}
    
                        
                    </div>
                    <div class="col-sm-6">
                        <label for="inputLastname">Nom</label>
                           {{ form_widget(form.name) }}
    
                    </div>
</div>
<div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputFirstname">Pluriel</label>
                     
    
                         {{ form_widget(form.plural) }}
    
                        
                    </div>
                    <div class="col-sm-6">
                        <label for="inputLastname">Traduction</label>
                           {{ form_widget(form.translation) }}
    
                    </div>
</div>
