{% extends 'base.html.twig' %}

{% block body %}
    <h1>Name</h1>

    <table class="table">
        <tbody>
           
            
            <tr>
                <th>Name</th>
                <td>{{ name.article }} {{ name.name }} {{ name.plural }}</td>
            </tr>
            
            <tr>
                <th>Translation</th>
                <td>{{ name.translation }}</td>
            </tr>
            
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('name_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('name_edit', { 'id': name.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
