{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sentence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sentence.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ sentence.text }}</td>
            </tr>
            <tr>
                <th>Translation</th>
                <td>{{ sentence.translation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sentence_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sentence_edit', { 'id': sentence.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
