

  <table class="table">
        <tbody>
        
            <tr>
                <th>Prénom, nom</th>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
            </tr>
            
            <tr>
                <th>Rue, Numéro</th>
                <td>{{ user.street }} {{ user.streetNumber }}</td>
            </tr>
           
            <tr>
                <th>Localité</th>
                <td>{{ user.zip }} {{ user.city }}</td>
            </tr>

            <tr>
                <th>Website</th>
                <td>{{ user.website }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ user.tel }}</td>
            </tr>
            <tr>
                <th>Courriel</th>
                <td>{{ user.email }}</td>
            </tr>
           
        </tbody>
    </table>

