{% extends 'base.html.twig' %}

{% block body %}
 <h1>{{ lesson.title }} - <small>{{ lesson.translation }}</small></h1>
    


        <a href="{{ path('name_new', {idlesson: lesson.id}) }}" >Ajout d'un mot</a>
    

<table class="table">
        <thead>
            <tr>
                <th>Nom</th>             
                <th>Traduction</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for name in lesson.getWords() %}
            <tr>
                <td class="name" id="german_{{name.id}}">{{ name.article }} {{ name.name }}{% if name.plural is not empty %}, {% endif %}{{ name.plural }}</td>
                <td class="translation" id="french_{{name.id}}">{{ name.translation }}</td>
                <td>
                     <a class="btn btn-outline-secondary btn-sm" href="{{ path('name_edit', { 'id': name.id }) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
</table>




{% endblock %}
